<%- include("../../partials/header.ejs") %>

</header >
<link href="/css/Contact-us-forms.css" rel="stylesheet">
<div class="container">
<h1>Bussiness Loans Details</h1>


  <form action="/info/loans/forms/Bussiness" method="POST">
    <label for="fname">Name</label>
    <input type="text" id="fname" name="data[firstname]" placeholder="*Your name.." required>

    <label for="Email">Email</label>
    <input type="email" id="lname" name="data[Email]" placeholder="*eg.pravin@gmail.com" required>

    <label for="Number">Phone number</label>
    <input type="number" id="number" name="data[number]" placeholder="*eg. 7783123901" required>

    <!-- <label for="country">Country</label> -->
    <!-- <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select> -->

    <label for="subject">Details</label>
    <textarea id="subject" name="data[subject]" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

<%- include("../../partials/footer.ejs") %>
