<%- include("./partials/header.ejs") %>
    <div class="container text-center " id="sec-1">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <h6>Blogs Daily</h6>
                <h1>Exciting adventure</h1>
                <p>
                   Get knowledge about best financial practises to grow your wealth.
                </p>
                <button class="btn btn-light px-5 py-2">Join Blogs</button>


            </div>
            <div class="col-md5 col-sm h-25">
                <img src="../images/coins.png" alt="stocks">

            </div>
        </div>
        </div>
    </header>
        <main>
            <section class="section-1">
                <div class="container text-centered">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pray">
                                <img src="../images//bluePrint.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel text-left">
                                <h1>
                                    Construction
                                </h1>
                                <p class="pt-4">
                                    
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatibus
                                    perferendis veritatis, recusandae velit sequi, laboriosam ipsum eveniet quis cum id
                                    incidunt accusamus obcaecati a. Impedit eos officia eaque porro commodi voluptas
                                    laboriosam quibusdam numquam corporis provident. Nesciunt, temporibus repudiandae?
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2 container-fluid p-0" id="sec-2">
                <div class="cover">
                    <div class="content text-center">
                        <h1>Some Features That made Us unique</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo quis fugiat consequatur
                            nesciunt sequi, eos eaque assumenda enim nihil molestias quisquam corporis debitis, maiores
                            eveniet laudantium consectetur minus totam atque.
                        </p>
                    </div>
                </div>
                <div class="container-fluid text-center">
                    <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                        <div class="rect">
                            <h1>
                                2144
                            </h1>
                            <p>Happy Client</p>
                        </div>
                        <div class="rect">
                            <h1>
                                2144
                            </h1>
                            <p>Happy Client</p>
                        </div>
                        <div class="rect">
                           
                            <h1>
                                2144
                            </h1>
                            <p>Happy Client</p>
                        </div>
                        <div class="rect">
                            <h1>
                                2144
                            </h1>
                            <p>Happy Client</p>
                        </div>
                    </div>

                </div>
                <div class="purchase text-center" id="sec-3">
                    <h1>purchare Whatever You Want</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas maxime ea, dolores delectus
                        molestiae exercitationem aspernatur labore nobis consectetur, non perspiciatis! Ducimus quam
                        dolores nihil doloremque iusto harum beatae quis.</p>
                        <div class="cards">
                            <div class="d-flex flex-row justify-content-center flex-wrap">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title">
                                            <h5 class="card-title">Stock Advisory</h5>
                                        </div>
                                        <p class="card-text">Get detailed analysis on stocks and market trends </p>
                                        <div class="pricing">
                                            
                                            <a class="btn btn-dark px-5 py-2 mb-5 " href="/info/stockadvisory"> <p class="price_text">Get Info</p> </a>
                                        </div>
                                      
                                    </div>
    
                                </div>
                                <div class="cards">
                                    <div class="d-flex flex-row justify-content-center flex-wrap">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="title">
                                                    <h5 class="card-title">Loans</h5>
                                                </div>
                                                <p class="card-text">Get details over loans and other loans related querries </p>
                                                <div class="pricing">
                                                   
                                                    <a class="btn btn-dark px-5 py-2 mb-5" href="/info/loans"> <p class="price_text">Get Info</p></a>
                                                </div>
            
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                                <div class="cards">
                                    <div class="d-flex flex-row justify-content-center flex-wrap">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="title">
                                                    <h5 class="card-title">Insurance</h5>
                                                </div>
                                                <p class="card-text">To know more about our insurance policy </p>
                                                <div class="pricing">
                                                   
                                                    <a class="btn btn-dark px-5 py-2 mb-5" href="/info/Insurance"> <p class="price_text">Get Info</p></a>
                                                </div>
            
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
            
            
                            </div>
                            <div class="d-flex flex-row justify-content-center flex-wrap">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="title">
                                            <h5 class="card-title">Business Planning</h5>
                                        </div>
                                        <p class="card-text">Get from experts detailed plannig and execution of your Bussiness</p>
                                        <div class="pricing">
                                            
                                            <a class="btn btn-dark px-5 py-2 mb-5 " href="/info/BusinessPlanning" > <p class="price_text">Get Info</p> </a>
                                        </div>
                                      
                                    </div>
    
                                </div>
                                <div class="cards">
                                    <div class="d-flex flex-row justify-content-center flex-wrap">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="title">
                                                    <h5 class="card-title">Digital Marketing</h5>
                                                </div>
                                                <p class="card-text">Use our digital marketing platform to increase your reach </p>
                                                <div class="pricing">
                                                   
                                                    <a class="btn btn-dark px-5 py-2 mb-5" href="/info/Digitalmarketing"> <p class="price_text">Get Info</p></a>
                                                </div>
            
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                              
            
                            </div>
                        </div>
    
                        
                    </div>
                        

               
            </section>
            <section class="section-3 container-fluid p-0 text-center">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h1>Down Our App for All platforms</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, non aperiam? Adipisci maxime perspiciatis cumque ab incidunt praesentium voluptatum reiciendis. Molestias ducimus earum eos ad distinctio maxime? Non, ex minus.
                        </p>
                        </div>
                    </div>
                    <div class="platform row">
                        <div class="col-md-6 col-sm-12 text-right">
                            <div class="desktop shadow-lg">
                            <div class="d-flex justify-content-center">
                                <i class="fa fa-desktop fa-3x"></i>
                                <div class="text text-left">
                                    <h3 class="pt-1 m-0">Desktop</h3>
                                    <p class="p-0 m-0">On Website</p>
                                </div>
                            </div>
                            </div>
                         
                        </div>
                        <div class="col-md-6 col-sm-12 text-left">
                            <div class="desktop shadow-lg">
                                <div class="d-flex justify-content-center">
                                    <i class="fa fa-mobile fa-3x"></i>
                                    <div class="text text-left">
                                        <h3 class="pt-1 m-0">Desktop</h3>
                                        <p class="p-0 m-0">On Website</p>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
            </section>
            <section class="section-4 ">
                <div class="container text-center">
                    <h1></h1>
                    <p></p>
                </div>
                <div class=" team text-center ">
                    <h1>Our Team</h1>
                <div class=" row">
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="../images/human.jpg" class="img-fluid">
                            </div>
                            <h3 class="card-title">Emplotyee1</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, inventore.</p>
                            <a href="#" class="text-secondary text-decoration-none">Links</a>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="../images/human.jpg" class="img-fluid">
                            </div>
                            <h3 class="card-title">Emplotyee1</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, inventore.</p>
                            <a href="#" class="text-secondary text-decoration-none">Links</a>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-12 text-center">
                        <div class="card">
                            <div class="card-img-top">
                                <img src="../images/human.jpg" class="img-fluid">
                            </div>
                            <h3 class="card-title">Emplotyee1</h3>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, inventore.</p>
                            <a href="#" class="text-secondary text-decoration-none">Links</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            </section>
        </main>
       
        <%- include("./partials/footer.ejs") %>
