
<%- include("../partials/header.ejs") %>
</header>

<div class="card">
    <div class=" team text-center ">
        <h1>Bussiness </h1>
     
   
    <div class="page-wrapper">
                       
        <div class="blog-list clearfix">



           
            <div class="blog-box row">
              
                <div class="blog-meta big-meta col-md-12">
                    <span class="bg-aqua"><a href="" title=""></a></span>
                    <h4><a href="" title="">Comming Soon</a></h4>
                    <p>.....
                       </p>
               
                    <small><a href="" title=""></a></small>
                    <small><a href="#" title=""></a></small>
                </div><!-- end meta -->
            </div><!-- end blog-box -->

            <hr class="invis">
           
           

        </div><!-- end blog-list -->
        
    </div><!-- end page-wrapper -->
    
</div>
</div>

<%- include("../partials/footer.ejs") %>
