<%- include("../partials/header.ejs") %>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

</header >
<link href="../css/Contact-us-forms.css" rel="stylesheet">
<div class="container">
<h1>Bussiness Planning</h1>


  <form action="/blogs" method="POST">
    
    <label for="country">Category</label>
    <select id="country" name="data[category]">
      <option value="Stock Advisory">Stock Advisory</option>
      <option value="Loans">Loans</option>
      <option value="Insurance">Insurance</option>
      <option value="Bussiness Planning">Bussiness Planning</option>
      <option value="Digital Marketing">Digital Marketing</option>
    </select>

    <label for="fname"> Title</label>
    <input type="text" id="fname" name="data[title]" placeholder="Title of blog" required>

    <label for="Image">Image Link</label>
    <input type="text" id="lname" name="data[image]" placeholder=" eg https://cdn.pixabay.com/photo/2019/07/14/16/29/pen-4337524__340.jpg" required>

    

    <label for="subject">Description</label>
    <textarea id="subject" name="data[description]" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

<script>
    CKEDITOR.replace( 'data[description]' );
</script>

<%- include("../partials/footer.ejs") %>
